.editor-raw {
    width: 50%;
    height: 50%;
    font-size: 16px;
}

.editor-transformed {
    width: 50%;
    height: 50%;
    font-size: 16px;
}

.table-places {
    width: 50%;
    height: 50%;
}